{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MonSite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Accueil</a>
        </li>
        {% if session.role == 'admin' %}
          <li class="nav-item">
            <a class="nav-link" href="#entreprise">Gestion entreprises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#stage">Gestion Offres de stage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#promotion">Gestion Pilotes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#etudiants">Gestion étudiants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#candidature">Gestion Candidature</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ session.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="#profile">Profil</a></li>
            <li><a class="dropdown-item" href="/logout">Déconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}