{% extends "layout.html.twig" %}

{% block title %}Ajouter un stage{% endblock %}

{% block content %}
<div class="container my-5">
  <h1 class="mb-4 text-center">Ajouter un stage</h1>
  <form method="POST" action="/addjob">
    <div class="mb-3">
      <label for="titre" class="form-label">Titre</label>
      <input type="text" class="form-control" id="titre" name="titre" required>
    </div>
    <div class="mb-3">
      <label for="entreprise" class="form-label">Entreprise</label> 
      <select class="form-control" id="entreprise" name="entreprise" required>
        <option value="">Choisir une entreprise</option>
        {% for entreprise in entreprises %}
            <h6 class="text-muted">{{ offre.entrepriseNom }}</h6>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
    </div>
    <div class="mb-3">
      <label for="dateDebut" class="form-label">Date de début</label>
      <input type="date" class="form-control" id="dateDebut" name="dateDebut" required>
    </div>
    <div class="mb-3">
      <label for="dateFin" class="form-label">Date de fin</label>
      <input type="date" class="form-control" id="dateFin" name="dateFin" required>
    </div>
    <div class="mb-3">
      <label for="ville_nom" class="form-label">Ville</label>
      <input type="text" class="form-control" id="ville_nom" name="ville_nom" required>
    </div>
    <div class="mb-3">
      <label for="motsCles" class="form-label">Mots-clés (séparés par des virgules)</label>
      <input type="text" class="form-control" id="motsCles" name="motsCles">
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>
{% endblock %}
