<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ message }}</h1>
      {% for user in users %}
        <li>{{ user.email|e }}</li>
    {% endfor %}
</body>
</html>