{% extends "layout.html.twig" %}

{% block title %}Message{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-info text-center">
        {{ message }}
    </div>
</div>
{% endblock %}